.btn-buy{
    display: flex;
    justify-content: center;
    height: 50%;
    margin: 15px;
    border: 1px solid #CCC;
    background-color:black;
    color: #CCC;
    font-family:Verdana,Tahoma, sans-serif;
    }
