.cart{
    display: flex;
    align-items: center;
    color:rgba(255, 0, 0, 0.671);
    a {
        margin-left: 0.5rem;
        color:rgba(255, 0, 0, 0.671);
        text-decoration: none;


            &:hover {
                background-color: rgb(233, 127, 127);
            }
    }
    
}

