.modal-custom{
    position: fixed;
    z-index: 1;
    top: 60%;
    left: 5%;
    transform: translate(-50% -50%);
    background-color: rgba(255, 255, 255, 0.459);
    width: 500px;
    height: 500px;
    box-shadow: 1px 5px 5px black;
    border-radius: 10px;
    padding: 50px;
}