.countProd{
    display: flex;
    height: 55px;
    width: 100%;
    justify-content:center;
    button{
        padding: 10px;
        margin: 10px;
    }
}

.btn-buy{
    display: flex;
    justify-content: center;
    height: 50%;
    margin: 15px;
    
}


